


<div class="ui-g-12 ui-md-4" >
  <p-panel header='Priority Tasks for today' [style]="{width: '425px', height: '100px'}">
    <p-scrollPanel [style]="{width: '415px', height: '100px'}" styleClass="custombar2">
        <div style="padding:1em;line-height:10x;width:200px;">
            <div>
                <a href=''> Run Sanity for Midas</a>
            </div>
            <div>
                <a href=''> Retest TDP 820491</a>
              </div>  
              <div>
              <a href=''> Test Sonons Bundle flow and reply to Alex</a>
              </div> 
        </div>
    </p-scrollPanel>
  </p-panel>
</div>

