<div class="container" >
  <p-panel header="The Testing Machine (Amdocs Quality Engineering)">  
    <div class="row">
        <div class="col-lg-6">
            <div class="row-lg-10">
                <app-executebuildondemand></app-executebuildondemand>
            </div>
            <div class="row-lg-5">
                <app-reports></app-reports>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row-lg-15">
                <app-tasks></app-tasks>
                </div>
        </div>
      </div>
  </p-panel>
</div>